# House_Price _Pridiction

In [1]:
# imoport relevant module
import seaborn as sn
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score,confusion_matrix

In [2]:
df=pd.read_csv(r"Delhi.csv")
df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,Sector 10 Dwarka,2,1,0,1,0,0,1,...,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,Uttam Nagar,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15000000,1350,Sarita Vihar,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2500000,435,Uttam Nagar,2,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5800000,900,Dwarka Mor,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [3]:
df=df.drop(["Location"],axis=1)

In [4]:
df.info

<bound method DataFrame.info of          Price  Area  No. of Bedrooms  Resale  MaintenanceStaff  Gymnasium  \
0     10500000  1200                2       1                 0          1
1      6000000  1000                3       0                 0          0
2     15000000  1350                2       1                 0          0
3      2500000   435                2       0                 0          0
4      5800000   900                3       0                 0          0
...        ...   ...              ...     ...               ...        ...
4993   2500000   540                2       1                 9          9
4994   3000000   540                2       1                 9          9
4995   2600000   415                1       1                 9          9
4996   5500000   415                1       1                 9          9
4997   4200000   900                3       1                 9          9

      SwimmingPool  LandscapedGardens  JoggingTrack  RainWaterHarvesting  ...  \
0                0                  0             1                    0  ...
1                0                  0             0                    0  ...
2                0                  0             0                    0  ...
3                0                  0             0                    0  ...
4                0                  0             0                    0  ...
...            ...                ...           ...                  ...  ...
4993             9                  9             9                    9  ...
4994             9                  9             9                    9  ...
4995             9                  9             9                    9  ...
4996             9                  9             9                    9  ...
4997             9                  9             9                    9  ...

      LiftAvailable  BED  VaastuCompliant  Microwave  GolfCourse  TV  \
0                 1    0                1          0           0   0
1                 0    0                0          0           0   0
2                 0    0                0          0           0   0
3                 0    0                1          0           0   0
4                 1    0                0          0           0   0
...             ...  ...              ...        ...         ...  ..
4993              9    9                9          9           9   9
4994              9    9                9          9           9   9
4995              9    9                9          9           9   9
4996              9    9                9          9           9   9
4997              9    9                9          9           9   9

      DiningTable  Sofa  Wardrobe  Refrigerator
0               0     0         0             0
1               0     0         0             0
2               0     0         0             0
3               0     0         0             0
4               0     0         0             0
...           ...   ...       ...           ...
4993            9     9         9             9
4994            9     9         9             9
4995            9     9         9             9
4996            9     9         9             9
4997            9     9         9             9

[4998 rows x 39 columns]>

In [5]:
df.head(2)

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,2,1,0,1,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
x=df.drop("Price", axis=1)
y=df.Price

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.3)

In [8]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [9]:
yp=model.predict(x_test)
yp

array([ 6093369.83027254, 63811336.07382324,  9675777.40628289, ...,
       22362176.05186354, 24025694.60521287, 11725113.10247675])

In [10]:
model.score(x_train,y_train)

0.169010363282469

In [11]:
from sklearn.linear_model import LogisticRegression
reg=LogisticRegression()
reg.fit(x_train,y_train)

/home/mrgreen/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [15]:
yp1=reg.predict(x_test)
yp1
reg.score(x_train,y_train)

0.02058319039451115

In [16]:
from sklearn.ensemble import RandomForestClassifier
reg1=RandomForestClassifier()
reg1.fit(x_train,y_train)

RandomForestClassifier()

In [18]:
yp2=reg1.predict(x_test)
yp2
reg1.score(x_train,y_train)

0.4917095483133219

In [19]:
from sklearn.neighbors import KNeighborsClassifier
reg2=KNeighborsClassifier()
reg2.fit(x_train,y_train)

KNeighborsClassifier()

In [21]:
yp3=reg2.predict(x_test)
yp3
reg2.score(x_train,y_train)

0.23127501429388223

In [26]:
from sklearn.tree import DecisionTreeClassifier
reg3=DecisionTreeClassifier()
reg3.fit(x_train,y_train)
yp4=reg3.predict(x_test)
yp4
reg3.score(x_train,y_train)

0.4917095483133219

In [29]:
print("Accuracy of Random Forest Classifier",accuracy_score(y_test,yp2))
print("Accuracy of Logistic Regression",accuracy_score(y_test,yp1))
print("Accuracy of KNN Classifier",accuracy_score(y_test,yp3))
print("Accuracy of Decision Tree Classifier",accuracy_score(y_test,yp4))

Accuracy of Random Forest Classifier 0.104
Accuracy of Logistic Regression 0.021333333333333333
Accuracy of KNN Classifier 0.07533333333333334
Accuracy of Decision Tree Classifier 0.10866666666666666